.container {
    margin: 0 auto;
    background: url("../public/img/background_image.png") no-repeat rgba(31, 39, 50, 0.81);
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    /*border: yellow 5px solid;*/
}

.header {
    display: flex;
    /*border: green 5px solid;*/
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 40px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #D1B06B;
    border: 1px solid #D1B06B;
}

.nav {
    display: flex;
    border-top: #4E555F solid 1px;
    border-bottom: #4E555F solid 1px;
    /*border: blue 5px solid;*/
    width: 90%;
    align-self: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.links > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 2rem;
}

.links a {
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.links a:hover {
    background: #D1B06B;
}

.navigation-item-active {
    background: #D1B06B;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contacts a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.main {
    flex: 1;
    /*border: red 5px solid;*/
}

.block {
    display: flex;
}

.image {

}

.footer {
    background-color: #161D27;
    /*border: orange 5px solid;*/
}