.container {
    margin: 0 auto;
    background:
            linear-gradient(rgba(31, 39, 50, 0.81), rgba(0, 0, 0, 0.8)),
            url("../public/img/background_image.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    margin: 0 40px;
    padding-top: 20px;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 40px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #D1B06B;
    border: 1px solid #D1B06B;
}

.nav {
    display: flex;
    justify-content: space-between;
    border-top: #4E555F solid 1px;
    border-bottom: #4E555F solid 1px;
    padding: 10px 40px;
    margin: 10px 0;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 2rem;
}

.nav > ul li a {
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.nav > ul li a:hover {
    background: #D1B06B;
}

.navigation-item-active {
    background: #D1B06B;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    align-content: center;
}

.contacts a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.block {
    display: flex;
}

.image {

}