.container {
    margin: 0 auto;
    background: url("../public/img/background_image.png") no-repeat rgba(31, 39, 50, 0.81);
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    /*border: yellow 5px solid;*/
}

.header {
    display: flex;
    /*border: green 5px solid;*/
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo {
    margin-left: 80px;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 40px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
}

.button:hover {
    background: #D1B06B;
    border: 1px solid #D1B06B;
}

.nav {
    display: flex;
    border-top: #4E555F solid 1px;
    border-bottom: #4E555F solid 1px;
    /*border: blue 5px solid;*/
    width: 90%;
    align-self: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.links > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 2rem;
}

.links a {
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
}

.links a:hover {
    color: #D1B06B;
    border-bottom: #D1B06B solid 2px;
}

.navigation-item-active {
    background: #D1B06B;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contacts a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.contacts a:hover {
    color: #D1B06B;
    border-bottom: #D1B06B solid 2px;
}


.main {
    flex: 1;
    /*border: red 5px solid;*/
}

.block {
    display: flex;

}

.block__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px 0 40px 0;
    gap: 40px;
    margin-left: 40px;
}
.block__content h2 {
    font-size: 65px;
    font-weight: 400;
}

.block__content p {
    font-size: 22px;
    color: #D1B06B;
}

.block__content button {
    background: #D1B06B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 40px ;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    width: 270px;
    height: 85px;
}

.block__content button:hover {
    color: #1F2732;
    border: 1px solid #D1B06B;
}

.image {

}

.footer {
    background-color: #161D27;
    /*border: orange 5px solid;*/
}